body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  background: transparent;
  align-items: center;
}

.side-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 16%;
  background: #f3f3f3;
  border-right: 3px solid rgb(207, 207, 207);
}

.options{
  position: relative;
  top: 15%;
  width: 90%;
  height: 40%;
}

.options div{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  width: 100%;
  height: 20%;
  justify-content: left;
  align-items: left;
}

.options div p{
  margin-left: 20px;
}

